@use '@/styles/base' as base;
@use '../generalStyles' as c;

$blue: hsl(211, 84%, 49%);

.container{
  @include c.container;
}

.form{
  @include c.form;
  justify-content: unset;
  min-height: unset;
}

.errorMsg{
  color: base.$error-color;
}

.tableCont{
  @include c.table;
}

.dataTable{

  thead th{
    &:nth-child(1){
      width: 25%;
    }
    &:nth-child(2){
      width: 10%;
    }
    &:nth-child(3){
      width: 30%;
    }
    &:nth-child(4){
      width: 10%;
    }
    &:nth-child(5){
      width: 10%;
    }
    &:nth-child(6){
      width: 15%;
    }
  }
}

.publicSVG, .unlistedSVG, .privateSVG{
  height: 1.25em;
  width: 1.25em;
}
.publicSVG{
  stroke: base.$primary-500;
}
.unlistedSVG{
  stroke: $blue;
}
.privateSVG{
  stroke: black;
}

:global(.ql-override):global(.ql-snow){
  overflow: hidden;

  .descriptionPreview{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:global(.ql-editor){
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      br{ display: none }

      p, a, li, h1, h2, h3, h4, h5, h6, blockquote{
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      ol, ul, li{ 
        padding: 0;
        margin: 0;
        list-style: none; 
        display: inline;
      }

      & * { &::before, &::after { content: none } }
    }
  }
}

.mediaList{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  li{
    height: 180px;
    border-radius: 6px;
    overflow: hidden;
  }
  img{
    object-fit: cover;
    height: 100%;
  }
}

.AddMedia{
  background-color: base.$gs-w-70;
  aspect-ratio: 1;
  height: 100%;

  svg{
    height: 2em;
    width: 2em;
  }
}
.deleteMediaBtn{
  position: absolute;
  top: 0.375em;
  right: 0.375em;
  background-color: base.$gs-w-70;
  display: flex;
  padding: 0.375em;
  border-radius: 50%;

  svg{
    fill: base.$gs-b-90;
    height: 0.75em;
    width: 0.75em;
  }
}

.tryAgainBtn{
  @include c.refetch-btn;
}

.pagination{
  @include c.pagination;
}

.categoryList{
  display: flex;
  flex-direction: column;

  li{
    display: flex;
    gap: 15px;
    padding-block: 10px;

    &:not(:last-child){
      border-bottom: 1px solid base.$gs-w-50;;
    }
  }

  button{
    display: flex;
    padding: 0.5em;
    border-radius: 6px;
    height: fit-content;

    svg{
      fill: white;
      height: 0.75em;
      width: 0.75em;
    }

    &.greenBtn{
      background-color: base.$primary-600;
    }
    &.blueBtn{
      background-color: base.$link-color;
    }
    &.redBtn{
      background-color: base.$error-color;
    }
  }
  .categoryInput{
    width: 100%;
    padding: 0.25em 0.5em;
    border: none;
  }
  .categoryName{
    width: 100%;
    padding: 0.25em;
  }
}

.stepList{
  display: flex;
  justify-content: space-between;
  width: 100%;

  li{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    &:has(~ .selected) .dot{
      background-color: base.$primary-600;
      border-width: 0px;
    }
    &:has(~ .selected),
    &.selected{
      .dot{
        border-color: base.$primary-600;
      }
      .divider{
        background-color: base.$primary-600;
      }
    }
    &.selected{
      p{
        color: base.$primary-600;
      }
    }
  }

  button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.375em 1em;
  }
  .dot{
    background-color: white;
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    z-index: 1;
    border: 4px solid base.$gs-w-60;
  }
  .divider{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: base.$gs-w-60;
    height: 0.125em;
    width: 100%;
    transform: translate(-50%, calc(50% - 0.375em - 0.5em));
  }
}

.selectCont{
  display: flex;
  flex-direction: column;

  .inputRequired{
    color: red;
    line-height: 1;
  }
  select{
    @include base.input;
    padding: 6px;
  }
}

.draftTable{

  thead th{
    &:nth-child(1){
      width: 25%;
    }
    &:nth-child(2){
      width: 20%;
    }
    &:nth-child(3){
      width: 35%;
    }
    &:nth-child(4){
      width: 10%;
    }
    &:nth-child(5){
      width: 10%;
    }
    &:nth-child(6){
      min-width: 50px;
    }
  }
}

.visibility{
  svg{
    stroke: black;
    height: 1.5em;
    width: 1.5em;
  }
}
.postLink{
  color: base.$link-color;
  overflow-wrap: break-word; 
  word-break: break-all;
  width: fit-content;
}
.visibilityOptions{
  display: flex;
  flex-direction: column;
  gap: 10px;

  li{
    display: flex;
    border-radius: 6px;
  }
  button{
    text-align: left;
    display: flex;
    gap: 15px;
    padding: 15px;
    border-radius: 6px;
    width: 100%;
    box-shadow: inset 0 0 0 1px black;

    &.selected{
      box-shadow: inset 0 0 0 2px $blue;

      .title{
        color: $blue;
      }
      svg{
        stroke: $blue;
      }
    }
  }
}