@use '@/styles/base' as base;

.whatsNew{
  @include base.grid-repeat-column(auto-fill, 360px);
  grid-template-rows: max-content 1fr max-content;
  gap: 20px;
  
  .videoContainer{
    background: base.$temp-color-fill; //temp-tag
    aspect-ratio: 1.75;
  }

  li{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 10px;
  }
}