@use '@/styles/base' as base;
@use '../generalStyles' as c;

.container{
  @include c.container;
}

.tableCont{
  @include c.table;
}
.dataTable{

  thead th{
    &:nth-child(1){
      width: 20%;
    }
    &:nth-child(2){
      width: 30%;
    }
    &:nth-child(3){
      width: 32%;
    }
    &:nth-child(4){
      width: 18%;
    }
  }
}

.tryAgainBtn{
  @include c.refetch-btn;
}