@use '@/styles/base' as base;
@use '../generalStyles' as c;

.container{
  @include c.container;
}

.form{
  @include c.form;
}

.dataTable{
  @include c.table;

  thead th{
    &:nth-child(1){
      width: 20%;
    }
    &:nth-child(2){
      width: 65%;
    }
    &:nth-child(3){
      width: 15%;
    }
  }
}

.tryAgainBtn{
  @include c.refetch-btn;
}

.pagination{
  @include c.pagination;
}

.selectCont{
  display: flex;
  flex-direction: column;

  .inputRequired{
    color: red;
    line-height: 1;
  }
  select{
    @include base.input;
    padding: 6px;
  }
}