@use '@/styles/base' as base;
@use '../generalStyles' as c;

.container{
  @include c.container;
}

.form{
  @include c.form;
}

.tableCont{
  @include c.table;
}
.dataTable{

  thead th{
    &:nth-child(1){
      width: 20%;
    }
    &:nth-child(2){
      width: 65%;
    }
    &:nth-child(3){
      width: 15%;
    }
  }
}

.tryAgainBtn{
  @include c.refetch-btn;
}

.pagination{
  @include c.pagination;
}