@use '@/styles/base' as base;

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h4{
    text-align: center;
  }
}

.txtField{
  @include base.input;
  width: 100%;

  &:disabled{
    background: base.$gs-w-90;
    cursor: not-allowed;
  }
}

.successMsg{
  color: base.$primary-light;
  font-size: 0.85rem;
}

.errorMsg{
  @include base.errorMsg;
}

.goBackbtn{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  & > div{
    display: flex;
    background: base.$gs-w-80;
    padding: 8px;
    border-radius: 6px;
  }
  img{
    height: 1.25em;
    width: 1.25em;
  }
  span{
    white-space: nowrap;
  }
  &:hover > div{
    background: base.$gs-w-70;
  }
}