@use '@/styles/base' as base;

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h4{
    text-align: center;
  }
}

.txtField{
  @include base.input;
  width: 100%;

  &:disabled{
    background: base.$gs-w-90;
    cursor: not-allowed;
  }
}

.errorMsg{
  @include base.errorMsg;
}

.hint{
  color: base.$gs-w-40;
  font-size: 0.9rem;
  line-height: 1.45;
  text-align: center;
}