@use '@/styles/base' as base;

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h4{
    text-align: center;
  }

  .txtField{
    @include base.input;
    width: 100%;
  }
  input{
    @include base.input-hide-spinner;
  }

  .showPass{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;

    img{
      height: 1em;
      width: 1em;
    }
  }
  select, option{
    text-transform: capitalize;
  }
}

.errorMsg{
  @include base.errorMsg;
}

.alt a{
  color: base.$link-color;
}