@use '@/styles/base' as base;
@use "sass:color";

@mixin container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 1180px;
  max-width: calc(100% - 30px);
  margin-inline: auto;
  padding: 20px 0 60px;
}

@mixin form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 100%;

  & > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@mixin table{
  width: 100%;

  th, td{
    padding: 6px 10px;
  }
  tr{
    border-bottom: 1px solid base.$gs-w-70;
  }
  thead{
    tr{
      background: color.adjust(base.$gs-b-100, $alpha: - 0.91);
    }
    th{
      text-align: start;
  
      &:last-child{
        text-align: end;
        width: 100px;
      }
    }
  }
  tbody{
    tr{
      &:hover{
        background: color.adjust(base.$gs-b-100, $alpha: - 0.95);
      }
      &:last-child{
        border-width: 0;
      }
    }
    td:last-child div{
      display: flex;
      justify-content: end;
      gap: 10px;
    }
  }
  
  .deleteBtn, .editBtn, .infoBtn{
    svg{
      fill: base.$gs-b-70;
      height: 16px;
      width: 16px;
    }
  }
}

@mixin pagination{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  
  select{
    text-align: center;
  }
  button{
    height: 1em;
    width: 1em;
    
    &:disabled{
      opacity: 0.4;
    }
  }
}