@use '@/styles/base' as base;
@use "sass:color";

@mixin container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 1180px;
  max-width: calc(100% - 30px);
  margin-inline: auto;
  padding: 20px 0 90px;
}

@mixin form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin table{
  width: 100%;
  overflow: auto hidden;

  .dataTable{
    width: 100%;
  }

  th, td{
    padding: 6px 10px;
  }
  tr{
    border-bottom: 1px solid base.$gs-w-70;
  }
  thead{
    tr{
      background: color.adjust(base.$gs-b-100, $alpha: - 0.91);
    }
    th{
      text-align: start;
  
      &:last-child{
        text-align: end;
        min-width: 50px;
      }
    }
  }
  tbody{
    td:not(:last-child){
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    tr{
      &:hover{
        background: color.adjust(base.$gs-b-100, $alpha: - 0.95);
      }
      &:last-child{
        border-width: 0;
      }
    }
  }
  .checkmarkColumn{
    text-align: center;
  }
  .checkmarkData{
    text-align: center;

    svg{
      fill: base.$gs-b-70;
      height: 1.25em;
      width: 1.25em;
    }
  }
  .deleteBtn, .editBtn, .infoBtn{
    svg{
      fill: base.$gs-b-70;
    }
  }
}

@mixin refetch-btn{
  width: fit-content;
  color: base.$secondary-300;

  &:hover{
    text-decoration: underline;
  }
}