@use '@/styles/base' as base;
@use './generalStyles' as c;
@use 'sass:color';

.container{
  @include c.container;
}

.backLink{
  display: flex;
  gap: 10px;
  
  svg{
    fill: base.$secondary-color;
    height: 1em;
    width: 1em;
  }
  a{
    width: fit-content;
    color: base.$secondary-color;

    &:hover{
      text-decoration: underline;
    }
  }
}

.mainModuleList{
  @include base.grid-repeat-column(auto-fill, 150px);
  grid-auto-rows: 70px;
  gap: 15px;

  .moduleItem{
    border: 1px solid base.$gs-b-50;
    border-radius: 3px;
  
    &:hover{
      color: white;
      background: base.$primary-light;
      border-color: base.$primary-light;
  
      svg{
        fill: white;
      }
    }
  
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 10px;
      height: 100%;
      width: 100%;
    
      svg{
        height: base.$sz-20-24;
        width: base.$sz-20-24;
      }
    }
  }
}


.subModuleList{
  display: flex;
  flex-direction: column;

  li{
    display: flex;
    border-radius: 3px;
    
    &:nth-child(even){
      background-color: color.mix(hsl(133, 50%, 35%), transparent, $weight: 15%);
    }
    a{
      width: 100%;
      padding-block: 8px;
      padding-left: 10px;
      &:hover{
        text-decoration: underline;
        color: base.$link-color;
      }
    }
  }
}