@use '@/styles/base' as base;
@use './generalStyles' as c;

.container{
  @include c.container;
  justify-content: center;
  align-items: end;
  padding: 0;
  height: 100%;
}

.nav{
  background: base.$gs-w-80;
  height: 50px;

  svg{
    height: 24px;
    width: 24px;
    fill: base.$gs-b-60;
  }

  .userButton{
    padding: 4px;
    width: fit-content;
  }

  .options{
    position: absolute;
    top: 100%;
    right: 0;
    background: base.$gs-w-90;
    border: none;
    box-shadow: 0 0 15px 5px hsla(0, 0%, 0%, 0.15);
  
    button{
      padding: 1em 1.25em;
      width: 100%;
  
      &:hover{
        background: base.$secondary-light;
        color: white;
      }
    }
  }
}