@use '@/styles/base' as base;
@use './generalStyles' as c;

.container{
  @include c.container;
}

.form{
  @include c.form;
}

.dataTable{
  @include c.table;

  thead th{
    &:nth-child(1){
      width: 20%;
    }
    &:nth-child(2){
      width: 15%;
    }
    &:nth-child(3){
      width: 50%;
    }
    &:nth-child(4){
      width: 15%;
    }
  }
}

.pagination{
  @include c.pagination;
}

.categoryList{
  display: flex;
  flex-direction: column;

  li{
    display: flex;
    gap: 15px;
    padding-block: 10px;

    &:not(:last-child){
      border-bottom: 1px solid base.$gs-w-50;;
    }
  }

  button{
    display: flex;
    padding: 0.5em;
    border-radius: 6px;
    height: fit-content;

    svg{
      fill: white;
      height: 0.75em;
      width: 0.75em;
    }

    &.greenBtn{
      background-color: base.$primary-color;
    }
    &.blueBtn{
      background-color: base.$link-color;
    }
    &.redBtn{
      background-color: base.$error-color;
    }
  }
  .categoryInput{
    width: 100%;
    padding: 0.25em 0.5em;
    border: none;
  }
  .categoryName{
    width: 100%;
    padding: 0.25em;
  }
}