@use '@/styles/base' as base;

:root{
  --container-width: 1140px;
}


.textGreen{
  color: base.$primary-color;
}
.textGreen-dark{
  color: base.$primary-dark;
}
.textGreen-light{
  color: base.$primary-light;
}
.textYellow{
  color: base.$secondary-color;
}
.textYellow-dark{
  color: base.$secondary-dark;
}
.textYellow-light{
  color: base.$secondary-light;
}

.bgGreen{
  background-color: base.$primary-color;
}
.bgGreen-dark{
  background-color: base.$primary-dark;
}
.bg-light{
  background-color: base.$primary-light;
}
.bgYellow{
  background-color: base.$secondary-color;
}
.bgYellow-dark{
  background-color: base.$secondary-dark;
}
.bg-light{
  background-color: base.$secondary-light;
}

[data-ros^=fade],
[data-ros^=flip],
[data-ros^=zoom]{
  opacity: 0;
  transition: 0.7s;
  /* transition-timing-function: cubic-bezier(0.15, 0.4, 0.2, 1.3); */
}
[data-ros].rosActive{ opacity: 1; }
/* fade */
[data-ros=fade-up]{ transform: translate(0, 50px); }
[data-ros=fade-down]{ transform: translate(0, -50px); }
[data-ros=fade-left]{ transform: translate(50px, 0); }
[data-ros=fade-right]{ transform: translate(-50px, 0); }
[data-ros=fade-up-left]{ transform: translate(50px, 50px); }
[data-ros=fade-up-right]{ transform: translate(-50px, 50px); }
[data-ros=fade-down-left]{ transform: translate(50px, -50px); }
[data-ros=fade-down-right]{ transform: translate(-50px, -50px); }
[data-ros^=fade].rosActive{ transform: translate(0); }
/* flip */
[data-ros^=flip]{ backface-visibility: hidden; }
[data-ros=flip-up]{ transform: rotateX(-90deg); }
[data-ros=flip-down]{ transform: rotateX(90deg); }
[data-ros=flip-left]{ transform: rotateY(90deg); }
[data-ros=flip-right]{ transform: rotateY(-90deg); }
[data-ros^=flip].rosActive{ transform: rotate(0); }
/* zoom */
[data-ros=zoom-in]{ transform: scale(0.9); }
[data-ros=zoom-in-up]{ transform: scale(0.9) translate(0, 50px); }
[data-ros=zoom-in-down]{ transform: scale(0.9) translate(0, -50px); }
[data-ros=zoom-in-left]{ transform: scale(0.9) translate(50px, 0); }
[data-ros=zoom-in-right]{ transform: scale(0.9) translate(-50px, 0); }
[data-ros=zoom-out]{ transform: scale(1.1); }
[data-ros=zoom-out-up]{ transform: scale(1.1) translate(0, 50px); }
[data-ros=zoom-out-down]{ transform: scale(1.1) translate(0, -50px); }
[data-ros=zoom-out-left]{ transform: scale(1.1) translate(50px, 0); }
[data-ros=zoom-out-right]{ transform: scale(1.1) translate(-50px, 0); }
[data-ros^=zoom].rosActive{ transform: scale(1); }

.container{
  width: var(--container-width);
  margin-inline: auto;
  height: 100%;
}

.pos-r{
  position: relative;
}
.pos-a{
  position: absolute;
  z-index: 10;
}

.flex{
  display: flex;
  
  &-col{ @extend .flex;
    flex-direction: column;

    &-reverse{ @extend .flex;
      flex-direction: column-reverse;
    }
  }
  &-row{ @extend .flex;
    flex-direction: row;

    &-reverse{ @extend .flex;
      flex-direction: row-reverse;
    }
  }
  &-wrap{ @extend .flex;
    flex-wrap: wrap;
  }
  &-wrap-reverse{ @extend .flex;
    flex-wrap: wrap-reverse;
  }

}
.j-start{ justify-content: flex-start; }
.j-center{ justify-content: center; }
.j-end{ justify-content: flex-end; }
.j-space-around{ justify-content: space-around; }
.j-space-between{ justify-content: space-between; }
.j-space-evenly{ justify-content: space-evenly; }
.a-start{ align-items: flex-start; }
.a-center{ align-items: center; }
.a-end{ align-items: flex-end; }
.a-stretch{ align-items: stretch; }
.a-baseline{ align-items: baseline; }

.res-flex-row{
  display: flex;
  flex-direction: row;
  gap: 30px;

  & > *{
    width: 50%;
  }
  
  @media(max-width: 780px){  
    flex-direction: column;
    gap: 20px;
  
    & > *{
      width: 100%;
    }
  }
}


.list-disc{
  list-style-type: disc;
  padding-left: 15px;
}

.lh-1{
  line-height: 1;
}

.baseLink{
  color: base.$link-color;
  text-decoration: underline;
}

.text-center{
  text-align: center;
}

@for $i from 1 through 10{
  $val_i: $i * 10;

  .w-#{$val_i}{
    width: $val_i * 1%;
  }
}

@for $i from 1 through 30{
  $val_i: $i * 5;
   
  .gap-#{$val_i}{
    gap: #{$val_i}px;
  }

  @for $j from 1 through 30{
    $val_j: $j * 5;
    .gap-#{$val_i}-#{$val_j}{
      gap: #{$val_i}px #{$val_j}px;
    }
  }
  
  .mb-#{$val_i}{
    margin-bottom: #{$val_i}px;
  }

  .pad-#{$val_i}{
    padding: #{$val_i}px;
  }
  .pad-block-#{$val_i}{
    padding-block: #{$val_i}px;
  }
  .pad-inline-#{$val_i}{
    padding-inline: #{$val_i}px;
  }

  .w-#{$val_i}{
    width: $val_i * 1%;
  }
}


// @media(max-width: 1400px){
//   :root{
//     --container-width: 1140px;
//   }
// }

@media(max-width: 1200px){
  :root{
    --container-width: 940px;
  }
}

@media(max-width: 980px){
  :root{
    --container-width: 720px;
  }
}

@media(max-width: 780px){
  :root{
    --container-width: 540px;
  }
}

@media(max-width: 560px){
  :root{
    --container-width: calc(100% - 30px);
  }
}