/*
reset: v3.15_beta
button: v1_beta
input: v1_beta
modal: v1_beta
*/
@use './base' as base;
@use './util' as util;

*, *::before, *::after {
  text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
  font-family: base.$font1;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  scroll-behavior: auto;
}

// text tags
h1{
  font-size: base.$sz-48-64;
  line-height: 1.25;
}
h2{
  font-size: base.$sz-32-48;
}
h3{
  font-size: base.$sz-28-32;
}
h4{
  font-size: base.$sz-24-28;
}
h5{
  font-size: base.$sz-20-24;
}
h6, p, a, b, li, th, td, button,
input, textarea, select, option, label{
  font-size: base.$sz-14-16;
}
h2, h3, h4, h5, h6, p, a, li, input, textarea, select, option, label{ line-height: 1.5; }
a{
  font-family: inherit;
  text-decoration: none;
  color: base.$gs-b-100;
  cursor: pointer;
}
code, pre, kbd, samp{
  font-family: monospace;
}
b, strong{
  font-weight: bolder;
}
blockquote, q {
  quotes: none;
}

// button
button{
  font-family: inherit;
  color: base.$gs-b-100;
  background: none;
  border: none;

  &[type=button]:not(:disabled),
  &[type=reset]:not(:disabled),
  &[type=submit]:not(:disabled),
  &:not(:disabled){
    cursor: pointer;
  }
}

// list
ol, ul{ list-style: none; }

hr{
  border: 1px solid base.$gs-b-50;
}

// table
table{
  border-collapse: collapse;
  border-spacing: 0;
}
td, th{
  padding: 4px;
  border: 1px solid black;
}

// form tags
input, textarea, select{
  font-family: inherit;
}
:is(input, textarea, select, button):focus-visible{
  outline: none;
}
input, textarea{
  color: base.$gs-b-100;
  outline: none;
  padding: 3px;
  border: 1px solid hsl(222, 2%, 20%);
  
  &:focus{ border: 1px solid hsl(0, 0%, 65%); }
}
textarea{
  --padding: 4px;

  padding: var(--padding);
  padding-inline: calc(var(--padding) + calc((1lh - 2ex) / 2));
  height: calc(4lh + 2 * (var(--padding) + 2px));
  min-height: calc(2lh + 2 * (var(--padding) + 2px));
  max-height: calc(8lh + 2 * (var(--padding) + 2px));
  width: 100%;
  resize: vertical;
  border: 1px solid base.$gs-w-50;
}
select, option{
  font-style: normal;
  padding: 3px;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="image"],
input[type="url"]{
  cursor: pointer;
}

// image