@use '@/styles/base' as base;

.img{
  @include base.img;
}

.thumbnailCont{
  @include base.thumbnailCont;
}

.hero{
  background-color: hsla(0, 0%, 0%, 0.4);
  position: relative;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  
  .headerVideo{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
  }
}

.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  color: base.$gs-w-100;

  & > div{
    max-width: 630px;
    width: 100%;
  }

  h2{
    font-size: base.$sz-20-24;
    color: base.$secondary-color;
  }
}

.stats{
  background: base.$primary-color;
}
.statsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: base.$gs-w-100;
  gap: 20px;

  li{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.approachesList{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .overlay{
    position: absolute;
    inset: 0;
    background-image: linear-gradient(190deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.65) 100%);
    z-index: 1;
    pointer-events: none;
  }
  li{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1 0 450px;
    overflow: hidden;
    border-radius: 12px;

    @media(max-width: 780px){
      flex: 1 0 100%;
    }
  }
  h5{
    color: white;
  }
  a{
    color: base.$secondary-color;
  }

  .approachesInner{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    z-index: 2;
  }
}

.section2{
  background-image: linear-gradient(60deg, base.$primary-light 30%, base.$primary-dark 100%);
  color: base.$gs-w-90;
}

@media(max-width: 780px){
  .content{
    align-items: center;

    & > div{
      text-align: center;
    }
  }
}