@use '@/styles/base' as base;

.hero{
  background: base.$temp-color-fill; //temp-tag
  position: relative;
  height: 100vh;
  height: 100dvh;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;

  & > div{
    max-width: 630px;
    width: 100%;
  }

  h2{
    font-size: base.$sz-20-24;
    color: base.$secondary-color;
  }
}

.stats{
  background: base.$primary-color;
}
.statsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: base.$gs-w-100;
  gap: 20px;

  li{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.approachesList{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  li{
    background-image: linear-gradient(195deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.25) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1 0 260px;
    height: 400px;
    border-radius: 12px;
  }
  h5{
    color: white;
  }
  a{
    color: base.$secondary-color;
  }

  .bgContainer{
    background: base.$temp-color-fill; //temp-tag
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
}

.section2{
  background: base.$primary-color;
  color: base.$gs-w-90;
}

.imgCont{
  background: base.$temp-color-fill; //temp-tag
  aspect-ratio: 1.75;
}

@media(max-width: 780px){
  .content{
    align-items: center;

    & > div{
      text-align: center;
    }
  }
}