.modalOverlay{
  background-color: hsla(0, 0%, 0%, 0.3);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modalContainer{
  background: hsl(214, 12%, 96%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  max-height: calc(100% - 30px);
  min-width: min(480px, calc(100% - 30px));
  max-width: calc(100% - 30px);
  box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 6px;
}

.mainContent{
  overflow-y: auto;
  height: 100%;
  padding: 15px;
  scrollbar-gutter: stable;
  
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    margin-block: 10px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: hsl(240, 5%, 73%);
    height: 5px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color: hsl(240, 5%, 65%);
  }
}

.header, .setHeader{
  display: flex;
  padding: 15px 15px 0;
}
.header{
  justify-content: space-between;
}
.setHeader{
  justify-content: end;
  min-height: 42px;
}
.footer{
  padding: 10px 15px 15px;
}

.closeButton{
  display: flex;
  height: fit-content;
  
  svg{
    height: 18px;
    width: 18px;
  }
}