@use '@/styles/base' as base;

.gridList{
  @include base.grid-repeat-column(auto-fill, 360px);
  gap: 20px;
}

.listItem{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  row-gap: 15px;

  h5{
    line-height: 1;
  }
}

.thumbnailCont{
  background: base.$temp-color-fill; //temp-tag
  width: 100%;
  aspect-ratio: 1.75;
}