@use '@/styles/base' as base;

.gridList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

.listItem{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  row-gap: 15px;

  h5{
    line-height: 1;
  }
}

.thumbnailCont{
  background: base.$temp-color-fill; //temp-tag
  width: 100%;
  aspect-ratio: 1.75;
}

@media(max-width: 560px){
  .gridList{
    grid-template-columns: 1fr;
  }
}