@use '@/styles/base' as base;
@use 'sass:color';

.container{
  width: 700px;
  max-width: calc(100% - 30px);
  margin-inline: auto;
}

.storyItem{
  border-radius: 6px;
  background: base.$gs-w-100;
  box-shadow: base.$shadow;

  .date{
    font-size: base.$sz-12-14;
    color: base.$gs-w-40;
  }
  svg{
    height: base.$sz-20-24;
    width: base.$sz-20-24;
  }
}

.imgCont{
  width: 100%;
  max-height: 420px;
  aspect-ratio: 1.25;
}

.seeMoreBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  color: base.$secondary-color;
}