@use '@/styles/base' as base;
@use 'sass:color';

body:has(.stories){
  background: base.$gs-w-90;
}

.container{
  width: 780px;
  max-width: calc(100% - 30px);
  margin-inline: auto;
}

.stories{
  padding-block: 50px;
}

.storyList{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.storyItem{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  background: base.$gs-w-100;
  box-shadow: 0 0 15px 5px hsla(0, 0%, 0%, 0.1);
  svg{
    height: base.$sz-20-24;
    width: base.$sz-20-24;
  }
}

.imgCont{
  background: base.$temp-color-fill; //temp-tag
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1.25;
}