@use '@/styles/base' as base;

.videoModal{
  background-color: hsla(0, 0%, 0%, 0.45);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.videoCont{
  background: base.$gs-w-80;
  display: flex;
  flex-direction: column;
  height: 85%;
  min-height: 280px;
  width: 80%;
  min-width: min(380px, calc(100% - 30px));
  box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 3px;
}

.closeButton{
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  height: 24px;
  width: 24px;
  color: white;
  
  svg{
    height: 24px;
    width: 24px;
  }
}