@use '@/styles/base' as base;
@use 'sass:color';

.footer{
  background-image: base.$primary-gradient;
  color: white;
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-block: 60px;

  img{
    object-fit: contain;
    height: 200px;
  }
}

.bottom{
  padding-block: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  justify-content: space-between;

  a:hover{
    text-decoration: underline;
  }
}

@media(max-width: 780px){
  .top{
    flex-direction: column;
  }
  .bottom{
    justify-content: space-around;
  }
}
@media(max-width: 560px){
  .top img{
    height: 120px;
  }
}