@use '@/styles/base' as base;

.imageCont{
  @include base.thumbnailCont;
  max-width: 760px;
  align-self: center;
}

.img{
  @include base.img;
  aspect-ratio: 1.75;
}

.goBack:hover{
  text-decoration: underline;
  color: base.$secondary-color;
  width: fit-content;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.postList{
  @include base.grid-repeat-column(auto-fill, 300px);
  gap: 20px;
}

.htmlInsert{
  display: flex;
  flex-direction: column;
  gap: 15px;

  ul{
    list-style: disc;
    padding-left: 20px;
  }
}