@use '@/styles/base' as base;

.goBack:hover{
  text-decoration: underline;
  color: base.$secondary-color;
  width: fit-content;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.imageCont{
  background: base.$temp-color-fill; //temp-tag
  width: 100%;
  max-width: 900px;
  aspect-ratio: 1.75;
  align-self: center;
}

.postList{
  @include base.grid-repeat-column(auto-fill, 300px);
  gap: 20px;
}