@use '@/styles/base' as base;

.imageCont{
  @include base.thumbnailCont;
  max-width: 760px;
  align-self: center;
}

.img{
  @include base.img;
  aspect-ratio: 1.75;
}

.backLink{
  display: flex;
  gap: 10px;
  
  svg{
    fill: base.$secondary-color;
    height: 1em;
    width: 1em;
  }
  a{
    width: fit-content;
    color: base.$secondary-color;

    &:hover{
      text-decoration: underline;
    }
  }
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.postList{
  @include base.grid-repeat-column(auto-fill, 300px);
  gap: 20px;
}