@use '@/styles/base' as base;

.imageCont{
  background: base.$temp-color-fill; //temp-tag
  width: 100%;
  aspect-ratio: 1.75;
}

.postList{
  @include base.grid-repeat-column(auto-fill, 300px);
  gap: 20px;
}

.postItem{
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  p, h5{
    white-space: nowrap;
  }
  h5{
    color: base.$primary-color;
  }
}