@use '@/styles/base' as base;

.movement{
  background: base.$temp-color-fill; //temp-tag
  position: relative;
}
.content{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 5px;
  text-align: center;
}

.imgCont{
  background: base.$temp-color-fill; //temp-tag
  aspect-ratio: 1.75;
}