@use '@/styles/base' as base;

.img{
  @include base.img;
}

.movement{
  background-image: linear-gradient(60deg, base.$primary-light 30%, base.$primary-dark 100%);
  color: base.$gs-w-90;
}

.content{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 5px;
  text-align: center;
}

.imgCont{
  background: base.$temp-color-fill; //temp-tag
  aspect-ratio: 1.75;
}