@use '@/styles/base' as base;

.imageCont{
  @include base.thumbnailCont;
}

.img{
  @include base.img;
}

.mainPost{
  flex-grow: 15;
}

.recentPostList{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;

  li{
    a{
      display: flex;
      gap: 15px;
    }
    
    .imageCont{
      width: 250px;
    }
  
    .content{
      max-width: 200px;
  
      h5, p{
        text-wrap: auto;
        line-height: 1.2;
      }
    }
  }
}

.mainPost, .recentPostList{
  p, h5{
    white-space: nowrap;
  }
  h5{
    color: base.$primary-color;
  }
}

.postList{
  @include base.grid-repeat-column(auto-fill, 300px);
  gap: 20px;

  li{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    p, h5{
      white-space: nowrap;
    }
    h5{
      color: base.$primary-color;
    }
  }
  .img{
    aspect-ratio: 1.75;
  }
}

@media(max-width: 1200px){
  .recentPosts, .recentPostList a{
    flex-direction: column;
  }
  .recentPostList{
    flex-direction: row;
    
    li{
      width: 100%;
    }
  }
  .imageCont{
    width: 100%;
  }
}