@use '@/styles/base' as base;

.header{
  background: base.$gs-w-80;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
}