@use '@/styles/base' as base;

.header{
  background: base.$gs-w-80;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px;
  box-shadow: base.$shadow;
}

@media(max-width: 560px){
  .header{
    input{
      width: 100%;
    }
  }
}