@use '@/styles/base' as base;

.img{
  @include base.img;
  width: 100%;
}

.statsList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  width: fit-content;

  h5, p{
    text-align: center;
    white-space: nowrap;
  }
}

.left{
  display: flex;
  justify-content: center;
  gap: 15px 30px;
}

.imgBg{
  height: 500px;
  overflow: hidden;
  position: relative;
}

.ctaBgImg{
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  pointer-events: none;
}

.ctaContainer{
  background: hsla(0, 0%, 0%, 0.2);
  position: absolute;
  inset: 0;
  padding-inline: 15px;
}

@media(max-width: 1200px){
  .left{
    flex-direction: column;
  }
  .statsList{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}