@use '@/styles/base' as base;

.img{
  @include base.img;
}

.thumbnailCont{
  @include base.thumbnailCont;
}

.statsList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  width: fit-content;

  h5, p{
    text-align: center;
    white-space: nowrap;
  }
}

.left{
  display: flex;
  justify-content: center;
  gap: 15px 30px;
}

.parallaxCont{
  background-image: url('uploads/CTA-bg.jpg');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 400px;

  &::before{
    content: '';
    background-color: hsla(0, 0%, 0%, 0.2);
    position: absolute;
    inset: 0;
  }

  @media(max-width: 560px){
    background-attachment: unset;
    height: 260px;
  }

  .ctaContainer{
    position: absolute;
    inset: 0;
    padding-inline: 15px;
  }
}


@media(max-width: 1200px){
  .left{
    flex-direction: column;
  }
  .statsList{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}