@use '@/styles/base' as base;

.img{
  object-fit: cover;
  border-radius: 10px;
}

.statsList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  width: fit-content;

  h5, p{
    text-align: center;
    white-space: nowrap;
  }
}

.left{
  display: flex;
  justify-content: center;
  gap: 15px 30px;
}

@media(max-width: 1200px){
  .left{
    flex-direction: column;
  }
  .statsList{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}