@use '@/styles/base' as base;

.qnaBlock{
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 0%, 0.05);

  &.showAccordion{
    .header svg{
      transform: rotateZ(180deg);
    }
    .content{
      max-height: 670px;
      padding-block: 15px;
      opacity: 1;
    }
  }
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;

  button{
    background-color: base.$gs-w-80;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75em;
    width: 1.75em;
    min-height: 1.75em;
    min-width: 1.75em;
    border-radius: 0.5em;
    
    svg{
      height: 1.25em;
      width: 1.25em;
      transition: transform 0.4s;
    }
  }
}
.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 15px;
  opacity: 0;
  overflow: hidden;
  max-height: 0;

  transition: max-height 0.4s ease, padding-block 0.4s ease, opacity 0.4s ease;
}

.socmed{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1.25em;

  li{
    display: flex;
  }
  a{
    display: flex;
  }
  svg{
    height: 1.25em;
    fill: black;

    &:hover{
      fill: base.$secondary-color;
    }
  }
}